.form {
    width: 60%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.validate__container {
    display: flex;
    justify-content: space-between;
}

.validate__input {
    padding-left: 15px;
    filter: drop-shadow(1px 1px 1px);
    border: solid 2px thistle;
    border-radius: 20px;
    background-color: teal;

    font-size: 25px;
    width: 60%;
}

.validate__button {
    filter: drop-shadow(1px 1px 1px);
    border: solid 2px thistle;
    border-radius: 20px;
    background-color: teal;
    padding: 10px 10px;
    font-size: 25px;
    min-width: 30%;
    height: 70px;
}

.error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px red;
    text-align: center;
}